.main {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    display: block;
}

.gui {
    position: absolute;
    height: 720px;
    width: 1280px;
    left: 50%;
    transform: translateX(-50%);
    
    .speed {
        color: white;
        position: absolute;
        right: 20px;
        bottom: 0;
        font-size: 40px;
        text-decoration: none;
    }

    .gravity {
        color: white;
        position: absolute;
        right: 20px;
        bottom: 40px;
        font-size: 40px;
        text-decoration: none;
    }
.laptime {
        color: white;
        position: absolute;
        left: 20px;
        bottom: 0px;
        font-size: 40px;
        text-decoration: none;
    }

    .best-lap {
        color: white;
        position: absolute;
        left: 20px;
        bottom: 40px;
        font-size: 40px;
        text-decoration: none;
    }

    .speed-progress {
        color: white;
        position: absolute;
        right: 100px;
        bottom: 0;
        font-size: 40px;
        text-decoration: none;
    }
}
